@import 'colors.css';

window {
    font-size: 24pt;
    color: @foreground; /* text */
    background-color: rgba(30, 30, 46, 0.8);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    background-color: rgba(200, 220, 255, 0);
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 80px;
	border:0px;
}

button:focus {
    background-size: 20%;
	border: 0px;

}

button:hover {
    background-color: transparent; 
    color: rgb(0, 0, 0);
    background-size: 20%;
    margin: 30px;
    border-radius: 80px;
	
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}


#lock {
    background-image: image(url("./icons/lock_white.png"));
}
#lock:hover {
    background-image: image(url("./icons/lock_white.png"));
}

#logout {
    background-image: image(url("./icons/logout_white.png"));
}
#logout:hover {
    background-image: image(url("./icons/logout_white.png"));
}

#suspend {
    background-image: image(url("./icons/suspend_white.png"));
}
#suspend:hover {
    background-image: image(url("./icons/suspend_white.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown_white.png"));
}
#shutdown:hover {
    background-image: image(url("./icons/shutdown_white.png"));
}

#reboot {
    background-image: image(url("./icons/reboot_white.png"));
}
#reboot:hover {
    background-image: image(url("./icons/reboot_white.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate_white.png"));
}
#hibernate:hover {
    background-image: image(url("./icons/hibernate_white.png"));
}

